html {
}

.masthead {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
    background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
    background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
}

.lead {
    margin: 30px auto, 30px, auto;
}

.avatar {
 /* Internet Explorer 10 */
 display:-ms-flexbox;
 -ms-flex-pack:center;
 -ms-flex-align:center;

 /* Firefox */
 display:-moz-box;
 -moz-box-pack:center;
 -moz-box-align:center;

 /* Safari, Opera, and Chrome */
 display:-webkit-box;
 -webkit-box-pack:center;
 -webkit-box-align:center;

 /* W3C */
 display:box;
 box-pack:center;
 box-align:center;
}

.avatar img {
    width: 80px;
    border: 3px solid #FFF;
    box-shadow: 0 1px 2px rgba(0,0,0,0.4);
    border-radius: 100%;
    position: relative;
}

footer {
    margin-top: 80px;
}

@media (max-width: 1199px) {
    .on-small-fix-form-spacing {
        margin-bottom: 15px;
    }
}

@media (max-width:767px) {
    .input-lg {
        height: 35px;
        padding: 6px 9px;
        font-size: 13px;
        line-height: 1.5;
        border-radius: 3px;
    }
    select.input-lg {
        height: 35px;
        line-height: 35px;
    }
    textarea.input-lg,
    select[multiple].input-lg {
        height: auto;
    }
}